/* 네비게이션 */
.top-header {
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  z-index: 9999;
}

.nav__container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
}

.nav-lg {
  padding: 33px 0;
  transition: padding 0.2s ease-in-out;
}

.nav-sm {
  padding: 14px 0;
  transition: padding 0.2s ease-in-out;
}

.nav__logo-container > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(10, 61, 98, 0.9);
}

.nav__logo-container > a > img {
  width: 50px;
}

.nav__logo-container > a > span {
  margin-left: 4px;
  letter-spacing: 5px;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  font-family: "Jua", sans-serif;
}

.nav__list {
  display: flex;
}

.nav__list > li > a {
  letter-spacing: 0.5px;
  color: rgba(60, 99, 130, 0.7);
  display: inline-flex;
  align-items: center;
  height: 40px;
  width: 96px;
  letter-spacing: 1px;
  justify-content: center;
}

.nav__list > li:not(.selected) > a:hover {
  color: rgba(10, 61, 98, 1);
}

li.selected {
  background-color: rgba(10, 61, 98, 0.8);
  border-radius: 12px;
}

li.selected > a,
.modal__list > li.selected > a {
  color: white;
}

.nav__ticket-container {
  margin-left: 16px;
}

.nav__ticket-container > a {
  flex-direction: column;
  font-size: 14px;
}

.nav__ticket-container > a > i {
  font-size: 28px;
  margin-bottom: 7px;
}

.nav__ticket-container > a:hover {
  transform: scale(1.03);
}

.nav__bars {
  margin-right: 18px;
  background: none;
  border: none;
  outline: none;
  color: rgba(10, 61, 98, 0.9);
  font-size: 28px;
  display: none;
  cursor: pointer;
}

/* 토글 네비게이션 (모달형태) */
.nav__modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.modal__overlay {
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.43);
}

.modal__content {
  background-color: #fcfcfc;
  width: 300px;
  height: 100%;
  position: fixed;
  padding: 50px 25px;
  top: 0;
  right: 0;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(46, 74, 117, 0.5);
  -moz-box-shadow: 0px 0px 15px 2px rgba(46, 74, 117, 0.5);
  box-shadow: 0px 0px 15px 2px rgba(46, 74, 117, 0.5);
}

.modal__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.modal__column .modal__title {
  font-size: 2rem;
  font-family: "Jua", "cursive";
}

.modal__column .modal__cancel-btn {
  font-size: 2.2rem;
  cursor: pointer;
  color: rgba(10, 61, 98, 1);
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 1.5rem;
}

.modal__list > li {
  margin-bottom: 12px;
  width: 119px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__list > li > a {
  font-size: inherit;
  color: rgba(10, 61, 98, 0.8);
}

.modal__list > li.modal__ticket-container > a > i {
  font-size: 1.8rem;
}
.modal__list > li.modal__ticket-container > a > span {
  font-size: 20px;
}
